<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h1>Welcome, {{ username }}</h1>
        </div>
        <div class="chat-main">
            <div class="chat-sidebar">
                <div class="search-container">
                    <div class="form__group field">
                        <input type="text" class="form__field" placeholder="Username" id="search-user" required>
                        <label for="search-user" class="form__label">Search user</label>
                    </div>
                    <button id="search-button" class="button-30">Search</button>
                </div>
                <div id="user-list"></div>
                <div class="chat-requests">
                    <h3>Chat Requests</h3>
                    <div id="chat-requests"></div>
                </div>
                <div class="friends-list">
                    <h3>Friends</h3>
                    <div id="chat-list"></div>
                </div>
            </div>
            <div class="chat-content">
                <div id="chat" class="chat-messages"></div>
                <div class="chat-input">
                    <input type="text" placeholder="Type your message...">
                    <button id="send" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var currentUser = "{{ username }}";
    </script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>

<!-- last updates 7/18   10;33 pm -->